*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#container-produto{
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
    margin-inline: auto;
    margin-top: 40px;
}
.card-produto{
    background-color: gainsboro;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    height: auto;
    cursor: pointer;
    gap: 5px;
}
.card-produto:hover{
    transform: scale(1.05);
    transition: 0.5s;
}
.img-produto{
    width: 100px;
    text-align: center;
    background-color: white;
    margin-inline: auto;
}
.btn-carrinho{
    background-color: gray;
    border: 0;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}