*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container-produto{
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
    margin-inline: auto;
}
.card-produto{
    background-color: gainsboro;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    height: auto;
}
.img-produto{
    width: 100px;
}
